<aside class="col-lg-2">
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
</aside>

<main class="col-lg-8">
    <h1 class="text-sm-left">this is a title</h1>
    <p> hello world with es6 router </p>
</main>

<div class="col-lg-2">
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
    <div class="bd-toc-item"> this is a component</div>
</div>